<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jachty.pl</title>
</head>
<body>
<header>
    <h1>Jachty.pl</h1>

    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Syne+Mono&display=swap"
          rel="stylesheet">
    <img src="/images/logo3.png" alt="Logo" width="250" height="250">
</header>
<nav>
    <ul>
        <li><a href="/">Strona Główna</a></li>
        <li><a href="/client/choose">Klient</a></li>
        <li><a href="/employee/choose">Pracownik</a></li>
    </ul>
</nav>
<main>
    <h2>Szczegły rezerwacji</h2>

    <form class="form" th:object="${reservation}" th:action="${'/employee/reservations/finish?id='+ reservation.getReservationId() }" method="post">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id" th:value="${reservation.getReservationId()}" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="id">Koszt wynajmu:</label>
        <input type="number" name="id" id="id" th:value="${reservation.getAmount()}" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="firstName"> Imie:</label>
        <input type="text" name="lastName" th:value="${reservation.getClient().getFirstName()}" id="firstName"
               disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="lastName">Nazwisko:</label>
        <input type="text" name="lastName" th:value="${reservation.getClient().getLastName()}" id="lastName" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="od">Data Od:</label>
        <input type="text" name="od" th:value="${reservation.getStartDate()}" id="od" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="od">Data Do:</label>
        <input type="text" name="do" th:value="${reservation.getEndDate()}" id="do" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="yacht">Jacht:</label>
        <input type="text" name="yacht" th:value="${reservation.getYacht().getName()}" id="yacht" disabled/>
        <span class="errors-text" th:value="${default}"></span>

        <label for="status">Status:</label>
        <input type="text" name="status" th:value="${reservation.getStatus()}" id="status" disabled/>
        <span class="errors-text" th:value="${default}"></span>

<!--        <a th:href="${'/employee/reservations/finish_return?id='+reservation.getReservationId()}"-->
<!--           class="form-button-submit">Zakończ i zwróć kaucję</a>-->
<!--        <span class="errors-text" th:value="${default}"></span>-->
<!--        <span class="errors-text" th:value="${default}"></span>-->

<!--        <a th:href="${'/employee/reservations/finish_notreturn?id='+reservation.getReservationId() + '&cost=200.0'}"-->
<!--           class="form-button-cancel">Pokryj koszta z kaucji</a>-->
        <label>Dodatkowe koszty:</label>
        <input type="number" name="cost" , id="cost" th:name="cost" th:field="*{extraCost}"/>
        <span class="errors-text" th:value="${default}"></span>

        </div>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Zakończ"/>
            <a href="/" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
</body>
</html>